:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
}

.body {
  font-family: var(--main-font);
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* -------------HEADER-------------- */
.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;

  color: var(--main-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 500;
  line=height: 1.19;
  letter-spacing: 3%;

  color: #2196f3;
}
.logo-web {
  color: #000000;
}
.contact-mail-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;

  color: #757575;
}
.contact-mail-tel:hover,
.contact-mail-tel:focus {
  color: #2196f3;
}
/* ------------/HEADER-------------- */

/* -----------COMPONENTS------------ */

.modal-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
  background-color: #2196f3;

  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-names {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.names {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.positions {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* ----------/COMPONENTS-------------- */

/* ---------------HERO---------------- */
.hero {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  background-color: #2f303a;
}

/* --------------/HERO---------------- */
/* ---------------LIST-UNDER-HERO---------------- */

.header-list-under-hero {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-details {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ---------------/LIST-UNDER-HERO---------------- */

/* --------------FOOTER--------------- */
.logo-footer {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;

  color: #2196f3;
  background-color: #2f303a;
}
.logo-web-footer {
  color: #ffffff;
}

.address {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: #2f303a;
}

.address-house {
  color: var(--secondary-text-color);
}

.social-item {
  color: rgba(255, 255, 255, 0.6);
}

.address-house:hover,
.address-house:focus {
  color: #2196f3;
}

.social-item:hover,
.social-item:focus {
  color: #2196f3;
}

/* -------------/FOOTER--------------- */

/* ----------portfolio-main--------------- */

.portfolio-main-nav-item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--main-text-color);

  cursor: pointer;
}
.portfolio-main-nav-item:hover,
.portfolio-main-nav-item:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.portfolio-menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-menu-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
